.firstsec {
    display: flex;
    margin-bottom: 120px;
}

.secondsec {
    display: flex;
    margin: 0 auto;
}

.secsecdiv {
    height: 50%;
    background-color: aqua;
}

#secsecdiv1 {
    padding: 15px;
    margin: 0px 15px 0px 100px;
    border-radius: 25px;
    height: 50%;
    background-color: rgb(117, 250, 250);
}

#secsecdiv2 {
    padding: 15px;
    margin: 0px 15px;
    border-radius: 25px;
    height: 50%;
    background-color: rgb(255, 227, 148);
}

#secsecdiv3 {
    padding: 15px;
    margin: 0px 100px 0px 15px;
    border-radius: 25px;
    height: 50%;
    background-color: rgb(243, 169, 253);
}

.heading1 {
    font-family: 'Yeseva One', cursive;
    font-size: 38px;
    border-left: 5px solid red;
    border-radius: 5px;
}

.heading2 {
    font-size: 38px;
    text-align: center;
}

.orange {
    color: orange;
}

.blue {
    color: rgb(12, 12, 75);
}

h1 {
    padding-left: 20px;
}

.half-width {
    width: 50%;
    height: 50%;
    margin-top: 50px;
    margin-left: 100px;
}

img {
    height: 400%;
    width: 40%;
}
.secsecp{
    padding: 0 20px;
}