body {
    margin: 0;
}

section {
    display: flex;
}

a {
    text-decoration: none;
    background-color: rgba(161, 185, 23, 0.932);
    color: black;
    padding: 10px 45px;
    border-radius: 10px;
}

#firstsec {
    margin-bottom: 120px;
}

#secondsec {
    margin: 1px 0px 150px 0px;
}

.thirdsec {
    margin-right: 100px;
    margin-bottom: 140px;
}

.secsecdiv {
    height: 50%;
    background-color: aqua;
}

#secsecdiv1 {
    padding: 15px;
    margin: 0px 15px 0px 100px;
    border-radius: 25px;
    height: 50%;
    background-color: rgb(117, 250, 250);
}

#secsecdiv2 {
    padding: 15px;
    margin: 0px 15px;
    border-radius: 25px;
    height: 50%;
    background-color: rgb(255, 227, 148);
}

#secsecdiv3 {
    padding: 15px;
    margin: 0px 100px 0px 15px;
    border-radius: 25px;
    height: 50%;
    background-color: rgb(243, 169, 253);
}

h1 {
    font-family: 'Anton', sans-serif;
    font-family: 'Archivo Black', sans-serif;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.heading1 {
    font-family: 'Yeseva One', cursive;
    font-size: 38px;
    border-left: 5px solid red;
    border-radius: 5px;
}

.heading2 {
    font-size: 66px;
    text-align: center;
    margin-bottom: 100px;
}

.heading3 {
    font-size: 58px;
}

.orange {
    color: orange;
}

.blue {
    color: rgb(12, 12, 75);
}

h1 {
    padding-left: 20px;
}

.half-width {
    width: 50%;
    height: 50%;
    margin-top: 50px;
    margin-left: 100px;
}

img {
    height: 400%;
    width: 40%;
}

.thirdsecimg {
    width: 500px;
    height: 500px;
}

.secsecp {
    padding: 0 20px;
}

.thirdsecp {
    font-size: 21px;
    padding: 0px 20px;
}

footer {
    color: white;
    background-color: rgb(5, 5, 75);
    text-align: center;
    padding: 22px 0px;
}

p {
    font-weight: 600;
    font-family: 'Archivo Black', sans-serif;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}